@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #fff;
  font-family: 'Josefin Slab', serif;
  background-color:#618CD1;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}
.title {
  display: block;

  text-align: center;
}
.title a {
  color: #374763;
  text-decoration: none;
}
a:hover,
a:link,
a:visited {
  color: #374763;
  text-decoration: none;
}
.nav {
  padding: 0;
  list-style-type: none;
  color:white;
}
.nav a:hover,
.nav a:focus,
.nav a:active,
.nav a.current {
  background-color: white;

  color: white;
}

.nav a {
  display: block;
  color:white;
}

footer{
  background-color:#374763;
}

.copyright{
  color:white;
}

input{
  boder:1px;
  background-color:#374763;
  font-size: 1rem;
  padding:.5em;
  color:white;
}

button{
  border:3px solid white;
  background-image: linear-gradient(blue,white)
  padding:.5em;
  border-radius:10px;
}

h1{
  font-family: 'Berkshire Swash', cursive;
  color:#374763;
}
h2{
  font-family: 'Berkshire Swash', cursive;
  color:#374763;
}

.id{
  color:white;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }


}


@media only screen and (min-width: 38em) {

  .nav {
    text-align: left;
  }
  .logo{
    width:10%;
    height:20%;
  }

}
